.drop-down {    
    width: 20%;
    padding: 12px;
    border-radius: 0;
    margin-top: 60px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}
.finishButton {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-top: 25PX;
  }
  .slidesNumber {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 35px;
}
.pre-guide {
    font-size: 27px;
    background-color: black;
    color: white;
}
